:root {
    --main-bg-color: rgb(68, 68, 148);
    --light-text-color: rgb(243, 243, 243);
}

body {
    margin: 0px;
    font-family: 'Bitter', serif;
}

section {
    padding: 2em;
}

a {
    color: var(--light-text-color);
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    padding: 1em;

    img {
        width: 20vw;
    }


}

.hema {
    background-image: url('../assets/benandrandycompressed.jpg');
    background-size: cover;
    background-position: center 35%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    .card {

        color: var(--light-text-color);
        text-shadow: black 1px 1px 2px;
    }

    p {
        text-indent: 2em;
    }
}

.card {
    padding: 1em;
    max-width: 50vw;
    border-radius: 10px;
    box-shadow: rgb(63, 63, 63) 1px 1px 2px;
    background-color: rgba(95, 95, 85, 0.5);
    backdrop-filter: blur(4px);

    h3 {
        margin: 0px;
    }
}

.instructor {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--light-text-color);
    text-shadow: black 1px 1px 2px;

    img {
        width: 25vw;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        gap: 1em;

        img {
            width: 60vw;
        }

    }

    .about-instructor {
        width: 60%;
    }
}

.practice {
    background-image: url('../assets/AndrewandJohncompressed.jpg');
    background-size: cover;
    background-position: center 35%;
    display: flex;
    justify-content: center;
    color: var(--light-text-color);
    text-align: center;
    text-shadow: black 1px 1px 2px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    color: var(--light-text-color);
    text-shadow: black 1px 1px 2px;


    a:hover {
        color: rgb(121, 183, 237);
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .card {
        background-color: var(--main-bg-color);
        color: var(--light-text-color);
    }

    a {
        text-decoration: underline;
    }
}

.contact-method {
    display: flex;
    gap: 1em;
    align-items: center;
}

.icon-big {
    font-size: 4em;
}

.anchor {
    scroll-behavior: smooth;
}